<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAYERS</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/players/playersIndex.css" />
    <%- include("../partials/font")%>
</head>
<body>
    <%- include("../partials/playersnav") %>
    
    <main>
        <h1>Players List</h1>

        <% if (players.length === 1) { %>
        
            <h2>There are no other players yet</h2>

        <% } else { %>

            <ul>
                <% players.forEach(player => { %>

                    <% if (player._id.toString() === user.player.toString()) { %>
                    <% } else { %>
                        <li><p><%= player.name %> </p>
                            <% player.items.forEach(item => { %>
                                <p>- <%= item.item.name %> X <%= item.quantity %></p>
                            
                            <% }) %>
                            </li>
                    
                    <% } %>
                    
                
                <% }) %>
            </ul>

        <% } %>
    </main>
    
</body>
</html>