<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=player.name%></title>
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/players/playersShow.css" />
    <%- include("../partials/font")%>
</head>
<body>
    <%- include("../partials/playersnav") %>  
          
    <main>
        <h1>Your Stuff</h1>
        <section>
            <div class="left">
                <h2>Your Items</h2>
                <ul>
                    <% player.items.forEach(item => { %>
                        
                        <li><p><%= item.item.name %> X <%= item.quantity %></p></li>
                    <% }) %>
                </ul>
            </div>

            <div class="right">
                <h2>Your Rules</h2>
                <ul>
                    <% player.rules.forEach(rule => { %>
                        <li><p>Rule #<%= rule.number %></p>
                            <p>"<%= rule.info %>"</p></li>
                    <% }) %>

                    <% rules.forEach(rule => { %>
                        <li><p>Rule #<%= rule.number %></p>
                            <p>"<%= rule.info %>"</p></li>
                    <% }) %>
                </ul>
            </div>
        </section>
    </main>
</body>
</html>