<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLAYER</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <%- include("../partials/playersnav") %>        

    <h1><%= player.name %></h1>
    
    <h2>your items</h2>
    <ul>
        <% player.items.forEach(item => { %>
            
            <% console.log("1", item) %> 
            <li><%= item.name %></li>
        <% }) %>
    </ul>

    <h2>your rules</h2>
    <ul>
        <% player.rules.forEach(rule => { %>
            
            <li><%= player.rule.name %></li>
        <% }) %>
    </ul>

    <ul>
        <% rules.forEach(rule => { %>

            <li>Rule #<%= rule.number %></li>
            <li><%= rule.info %></li>
        <% }) %>
    </ul>

</body>
</html>