<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= player.name %>'s Items</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <%- include("../../partials/font")%>
</head>
<body>
    <%- include("../../partials/nav") %>
    <h1><%= player.name %>'s Items</h1>
    <%if(player.items.length===0){%>
        <h2>This player has no items!</h2>
    <%}else{%>
    <section id="list">
        <% player.items.forEach(item => { %>
            <section class="item">
            <p><%= item.item.name %>: x<%= item.quantity %></p>
            </section>
        <% }) %>
    </section>
    <%}%>

    <form action="/gamemaster/players/<%=player._id%>/items" method="POST" id="form">
        <h2>Add Items to <%=player.name%></h2>
        <% if(items.length===0){%>
            <p>There are no items!</p>
        <%} else{%>
            <select name="item">
                <% items.forEach(item => { %>
                    <option value="<%= item._id %>"><%=item.name%></option> 
                <% }) %>
            </select>
            Qt. <input type="number" name="quantity" min="1" required >
            <input type="submit" value="Add New Item">
        <%}%>
    </form>
</body>
</html>