<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= player.name %>'s Secret Rules</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <%- include("../../partials/font")%>
</head>
<body>
    <%- include("../../partials/nav") %>
    <h1><%=player.name %>'s Secret Rules</h1>
    <%if(player.rules.length===0){%>
        <h2>This player has no rules!</h2>
    <%}else{%>
    <section id="list">
        <% player.rules.forEach(rule => { %>
            <section class="item">
                <p>Rule <%= rule.number %></p>
                <p><%= rule.info %></p>
                <form action="/gamemaster/players/<%=player._id%>/rules/<%= rule._id %>?_method=DELETE" method="post">
                    <input type="submit" value="Delete Rule">
                </form>
            </section>
        <% }) %>
    </section>
    <%}%>

    <%let rulesLength = 0;%>
    <%let ruleExists = false; %>
    <% rules.forEach(rule => { %>
        <%if(rule.isSecret){%>
            <% player.rules.forEach(playerRule =>{%>
                <% if(rule.number==playerRule.number){%>
                    <% ruleExists = true;%>
                <%}%>
            <% }) %>
            <% if(!ruleExists){ %>
            <% rulesLength++ %>
            <%}%>
            <%ruleExists = false;%>
        <%}%>
    <%})%>
    <form action="/gamemaster/players/<%=player._id%>/rules" method="POST" id="form">
        <h2>Add Rules to <%=player.name%></h2>
        <% if(rulesLength===0){%>
            <p>There are no rules to add!</p>
        <%} else{%>
        <select name="rule" id="rule">
            <% let ruleExists = false; %>
            <% rules.forEach(rule => { %>
                <% player.rules.forEach(playerRule =>{%>
                    <% if(rule.number==playerRule.number){%>
                        <%console.log(rule.number + " " + playerRule.number);%>
                        <% ruleExists = true;%>
                    <%}%>
                <% }) %>
                <% if(!ruleExists){ %>
                    <% if(rule.isSecret){%>}
                        <option value="<%= rule._id %>"><%=rule.number%>: <%=rule.info%></option> 
                    <%}%>
                <% } %>
                <%ruleExists=false;%>
            <% }) %>
        </select>
        <input type="submit" value="Add New Rule">
        <%}%>
    </form>
</body>
</html>