<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= player.name %>'s Rules</title>
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>
    <%- include("../../partials/nav") %>
    <h1><%=player.name %>'s Rules</h1>
    <ul>
        <% player.rules.forEach(rule => { %>
            <li>Rule <%= rule.number %></li>
            <li><%= rule.info %></li>
        <% }) %>
    </ul>
    <form action="/gamemaster/players/<%=player._id%>/rules" method="POST">
        <select name="rule">
            <% rules.forEach(rule => { %>
                <option value="<%= rule._id %>"><%=rule.number%></option> 
            <% }) %>
        </select>
        <input type="submit" value="Add New Rule">
    </form>
</body>
</html>