<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <%- include("../partials/font")%>
</head>
<body>
    <%- include("../partials/nav") %>
    <h1>Players Page</h1>
    <article id="list">
        <% players.forEach(player =>{ %> 
            <section class="player">
                <p><%= player.name %></p>
                <p><a href="/gamemaster/players/<%=player._id%>/rules">Rules</a></p>
                <p><a href="/gamemaster/players/<%=player._id%>/items">Items</a></p>
                <p>Points: <%=player.points%></p> 
            </section>
        <% }) %> 
    </article>
</body>
</html>